/**
 * WordPress Text Classes
 */

.alignleft {
    float: left;
    padding-right: $spacing-unit;
}

.alignright {
    float: right;
    padding-left: $spacing-unit;
}

.aligncenter {
    margin-right: auto;
    margin-left: auto;
}

.wp-caption-text {
    font-size: .7em;
    font-style: italic;
    text-align: center;
}

.more-link.more-link {
    display: inline-block;
    padding: $spacing-unit--small+2px $spacing-unit $spacing-unit--small;
    color: $color-page;
    line-height: 1;
    background-color: $color-button;
    border: 0;

    &:hover,
    &:focus {
        text-decoration: none;
        background-color: $color-button-hover;
        border: 0;
    }
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
