/**
 * Site Header Component
 */

.c-site-header {
    margin-bottom: $spacing-unit--large;
    padding-top: $spacing-unit--large;
    padding-bottom: $spacing-unit--large;
    border-bottom: 1px solid $color-gray-light;

    @include breakpoint(m-up) {
        padding-top: $spacing-unit--large;
    }
}
