/**
 * Top Bar
 */

.c-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    width: 100%;
    background-color: $color-brand;
    will-change: transform;
}

.logged-in .c-top-bar {
    top: 32px;
}
