/**
 * Article Component
 */

.c-article {
    margin-bottom: 2*$spacing-unit--large;

    @include breakpoint(m-up) {
        margin-bottom: 3*$spacing-unit--large;
    }

    &::after {
        content: '~';
        display: block;
        margin-top: 2*$spacing-unit--large;
        color: $color-brand;
        font-size: 60px;
        line-height: 1;
        text-align: center;

        @include breakpoint(m-up) {
            margin-top: 3*$spacing-unit--large;
        }
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

    .c-article__featured-img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $spacing-unit;

        @include breakpoint(wrap) {
            max-width: $width-wrap;
            margin-bottom: 2*$spacing-unit;
        }
    }

    .c-article__meta {
        color: $color-gray;
        font-size: 14px;

        a {
            color: inherit;
        }
    }

    .c-article__title {
        margin-bottom: $spacing-unit;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.05;
        letter-spacing: -0.02em;

        @include breakpoint(m-up) {
            margin-bottom: 1.5*$spacing-unit;
            font-size: 60px;
        }

        a {
            color: inherit;
        }
    }

    .c-article__footer {
        margin-top: $spacing-unit--large;

        @include breakpoint(m-up) {
            margin-top: 2*$spacing-unit;
        }
    }
