/**
 * Scoped Text Elements
 */

.c-text {
    font-size: $base-font-size;
    line-height: $base-line-height;

    p,
    ul,
    ol,
    blockquote,
    pre,
    img {
        margin-bottom: $spacing-unit;
    }

    img,
    figure {
        max-width: 100%;
        height: auto;
    }

    h2 {
    }

    h3 {
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    pre {
        overflow: scroll;
    }
}
