/**
 * Scoped Text Elements
 */

.c-text {
    word-wrap: break-word;
    hyphens: auto;

    p,
    ul,
    ol,
    blockquote,
    pre,
    img,
    figure {
        margin-bottom: $spacing-unit;
    }

    > p:first-child::first-letter {
        float: left;
        padding-top: 9px;
        padding-right: 10px;
        color: $color-black;
        font-size: 59px;
        font-weight: 700;
        line-height: 0.8;

        @include breakpoint(m-up) {
            padding-top: 11px;
            font-size: 65px;
        }
    }

    a {
        font-weight: bold;
        border-bottom: 2px solid $color-brand;

        &:hover, &:focus {
            text-decoration: none;
            border-bottom: 2px solid transparent;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    figure {
        width: 100%;
        max-width: 100%;

        img {
            margin-bottom: $spacing-unit--small;
        }
    }

    h1 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.2;

        @include breakpoint(m-up) {
            font-size: 36px;
        }
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 32px;
        font-weight: 700;
        line-height: 1.2;

        @include breakpoint(m-up) {
            font-size: 34px;
        }
    }

    h3 {
        margin-top: 40px;
        margin-bottom: 5px;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;

        @include breakpoint(m-up) {
            font-size: 28px;
        }
    }

    h3 {
    }

    h4 {
    }

    h5 {
    }

    h6 {
    }

    ul, ol {
        margin-left: $spacing-unit;
    }

    pre {
        overflow: auto;
    }

    blockquote {
        padding-left: $spacing-unit--small;
        font-style: italic;
        border-left: 4px solid $color-brand;

        @include breakpoint(m-up) {
            padding-left: $spacing-unit;
        }
    }
}
