/**
 * Wrappers
 */

.o-wrapper {
    max-width: $width-wrap;
    margin: 0 auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    /*@include breakpoint(m-up) {
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }*/
}
