/**
 * Widths
 */

$breakpoint--small: 499px;
$breakpoint--medium: $breakpoint--small+1;
$breakpoint--large: 1024px;

$width-wrap: 700px;

$spacing-unit: 20px;
$spacing-unit--small: 10px;
$spacing-unit--large: 40px;

$grid-gap--small: 10px;
$grid-gap--medium: 20px;
$grid-gap--large: 20px;
