/**
 * Widths
 */

$breakpoint--small: 499px;
$breakpoint--medium: $breakpoint--small+1;
$breakpoint--large: 1024px;

$width-wrap: 640px;

$spacing-unit: 30px;
$spacing-unit--small: 10px;
$spacing-unit--large: 50px;

$grid-gap--small: 10px;
$grid-gap--medium: 20px;
$grid-gap--large: 20px;
