/**
 * Typography
 */

$base-font-family: Georgia, serif;
$base-font-family-loaded: 'Merriweather', #{$base-font-family};
$base-font-family-extra: Helvetica, Arial, sans-serif;
$base-font-family-extra-loaded: 'Raleway', #{$base-font-family-extra};
$base-font-size: 20px;
$base-font-weight: 400;
$base-line-height: 1.7;
