/**
 * Colors
 */

$color-brand: #85bee0;
$color-black: #000;
$color-white: #fff;
$color-gray: #666;
$color-gray-light: #ddd;
$color-gray-dark: #3c3c3c;

$color-page: $color-white;
$color-text: $color-gray-dark;
$color-links: $color-black;
$color-links-hover: $color-brand;
$color-button: $color-gray-dark;
$color-button-hover: $color-brand;
